/*

    Mural de lembretes:


*/



/*Configurando o individual da notica*/
.titulo-noticia-bg{ /*Configurando a imagem de fundo da noticia*/
    background-image: url(../../../imagens/Noticias/joao-felipe/jojo-parte-6/Banner_Manchete.png);
}