/*

    Mural de lembretes: 
        ° Configurar a aparencia dos links quando um mouse passa por eles
        ° Adicionar fontes web safe nos font-family


*/


/*Configuração do cabeçalho*/
/*Configurando o cabeçalho na logo*/
.header-bg{ /*Background do cabeçalho*/
    display:flex;

    flex-wrap:wrap;
}
.header-logo{ /*Logo do cabeçalho*/
    display:flex;

    justify-content: center;
    align-items:flex-end;
    flex-wrap:wrap;

    background-color: var(--cor-principal);
    width:100%;
}
.logo-img-header-hermes{ /*Imagem do logo Hermes*/
    width:500px;

    padding:25px 20px;
}
.logo-img-header-diary{ /*Imagem do logo Diary*/
    width:300px;

    padding:25px 20px;
    padding-top:0px;
}

/*Configurando a responsividade do logo (cabeçalho)*/
@media screen and (max-width: 799px){ /*Responsividade do logo (cabeçalho), quando chega no tamanho de 799px*/
    .logo-img-header-hermes{ /*Configurando o tamanho do logo Hermes (cabeçalho)*/
        width:450px;
    }
    .logo-img-header-diary{ /*Configurando o tamanho do logo Diary (cabeçalho)*/
        width:250px;
    }
}
@media screen and (max-width:475px){ /*Responsividade do logo (cabeçalho), quando chega no tamanho de 475px*/
    .logo-img-header-hermes{ /*Configurando o tamanho do logo Hermes (cabeçalho)*/
        width:400px;
    }
    .logo-img-header-diary{ /*Configurando o tamanho do logo Diary (cabeçalho)*/
        width:200px;
    }
} 

/*Configurando o cabeçalho na parte dos links de navegação*/
.header-nav{ /*Links de navegação do cabeçalho*/
    display:flex;

    justify-content: center;

    background-color: var(--cor-secundaria);
    width:100%;
}
.header-list{ /*Lista de links do cabeçalho*/
    display:flex;

    align-items:center;
    justify-content:Center;
    flex-wrap:wrap;

    font-family:Arkhip, Arial, sans-serif;
    font-size: 1.0625em; /*17px*/
    padding: 13px;    
}
.list-item a, .list-item a:active, .list-item a:link, .list-item a:checked{ /*Configurando cada item individual dos links*/
    color:white;
    text-decoration:none;

    padding:4px;
}
.header-list li a:hover{ /*Configurando quando se passa o mouse por cima dos botões*/
    color:var(--cor-principal);
}
.list-item{ /*Cada item de navegação indenpendente*/
    display:flex;
    justify-content: center;

    width:200px;
}
.border{ /*Classe dos itens que irão receber as bordas*/
    border-right: 5px solid var(--cor-principal);
}

/*Configuração da responsividade da barra de navegação (cabeçalho)*/
@media screen and (max-width: 1025px){ /*Responsividade da barra de navegação (cabeçalho), quando chega no tamanho de 1025px*/
    .list-item{ /*Configurando o espaçamento dos itens da lista de navegação*/
        padding:10px 0px;
    }
}
@media screen and (max-width:825px){ /*Responsividade individual do 3° item da barra de navegação (cabeçalho), quando chega no tamanho de 825px*/
    .no-border-825{ /*Tirando a borda direita do 3° item da barra de navegação (cabeçalho)*/
        border-right:none;
    }
}
@media screen and (max-width:625px){ /*Responsividade da barra de navegação (cabeçalho), quando chega no tamanho de 625px*/
    .border{ /*Configurando o tamanho do conteiner dos links com borda*/
        width: 150px;
    }
    .no-border{ /*Configurando o tamanho do conteiner dos links sem borda*/
        width: 150px;
    }
}
@media screen and (max-width:475px){ /*Responsividade da barra de navegação (cabeçalho), quando chega no tamanho de 475px*/
    .border{ /*Configurando o tamanho do conteiner dos links com borda*/
        width: 125px;
    }
    .no-border{ /*Configurando o tamanho do conteiner dos links sem borda*/
        width: 125px;
    }
}
@media screen and (max-width:400px){ /*Responsividade individual do 3° item da barra de navegação (cabeçalho), quando chega no tamanho de 825px*/
    .no-border-825{ /*Tirando a borda direita do 3° item da barra de navegação (cabeçalho)*/
        border-right: 5px solid var(--cor-principal);
    }
}
@media screen and (max-width:275px){ /*Responsividade da barra de navegação (cabeçalho), quando chega no tamanho de 275px*/
    .list-item{ /*Retirando as bordas*/
        border: none;
    }
}




/*Configuração do Rodapé*/
/*Configuração do logo do rodapé*/
.footer-bg{ /*Background do rodapé*/
    display:flex;

    flex-wrap:wrap;
}
.footer-principal{ /*Rodapé principal*/
    width:100%;

    background-color: var(--cor-principal);
}
.footer-logo{ /*Rodapé na parte da logo*/
    display:flex;

    justify-content:center;
    align-items:flex-end;
    flex-wrap:wrap;

    width:100%;
}
.logo-img-footer-hermes{ /*Configurando o tamanho da logo no rodapé*/
    width:400px;
    padding:25px 15px;
}
.logo-img-footer-diary{
    width: 200px;
    padding:25px 15px;
    padding-top:0px;
}

/*Configurando a responsividade do logo (rodapé)*/
@media screen and (max-width:799px){ /*Responsividade do logo (rodapé), quando chega no tamanho de 799px*/
    .logo-img-footer-hermes{ /*Configurando o tamanho do logo Hermes (rodapé)*/
        width:350px;
    }
    .logo-img-footer-diary{ /*Configurando o tamanho do logo Diary (rodapé)*/
        width:150px;
    }
}
@media screen and (max-width:475px){ /*Responsividade do logo (rodapé), quando chega no tamanho de 475px*/
    .logo-img-footer-hermes{ /*Configurando o tamanho do logo Hermes (rodapé)*/
        width:300px;
    }
    .logo-img-footer-diary{ /*Configurando o tamanho do logo Diary (rodapé)*/
        width:140px;
    }
}

/*Configuração dos links de redes sociais*/
.footer-redes{ /*Conteiner dos links das redes sociais*/
    display:flex;

    justify-content:center;
    align-items:center;

    width:100%;
}
.img-redes{ /*Configurando o tamanho das imagens de redes sociais*/
    width:40px;
}
.img-redes-list{ /*Lista para os links das redes socias*/
    display:flex;
}
.img-redes-list li{ /*Configuração dos espaçamentos das imagens sociais*/
    padding:5px 20px;
}

/*Configurando a responsividade dos links de redes sociais*/
@media screen and (max-width:475px){
    .img-redes{
        width:35px;
    }
}

/*Configuração da barra de navegação do rodapé*/
.footer-list{ /*Configuração do conteiner da barra de navegação*/
    display:flex;

    justify-content:center;
    align-items:center;
    flex-wrap:wrap;

    font-family:Arkhip, Arial, sans-serif;
    font-size:1.0625em; /*17px*/
}
.footer-list li{ /*Configuração dos itens de navegação individual*/
    padding:0px 20px;
    padding-top:40px;
    padding-bottom:80px;
}
.footer-list li a, .footer-list li a:link, .footer-list li a:checked, .footer-list li a:active{ /*Configuração dos links de navegação*/
    color:white;
    text-decoration:none;

    padding:4px
}
.footer-list li a:hover{ /*Configuração dos links de navegação, quando o mouse passa por cima do link*/
    border-bottom: 2px solid white;
}

/*Responsividade da barra de navegação do rodapé*/
@media screen and (max-width:501px){ /*Retirando o espaçamento de um item individual, quando o tamanho chega em 501px*/
    .no-padding-footer li{
        padding-top:0px;
    }
}
@media screen and (max-width:382px){ /*Retirando o espaçamento de um item individual, quando o tamanho chega em 382px*/
    .no-padding-footer2 li{
        padding-top:0px;
    }
}
@media screen and (max-width:284px){ /*Retirando o espaçamento de um item individual, quando o tamanho chega em 284px*/
    .no-padding-footer3 li{
        padding-top:0px;
    }
}

/*Configuração da parte "creditos" do rodapé*/
.footer-made{ /*Configuração do conteiner dos "creditos"*/
    display:flex;

    justify-content: center;
    align-items:center;
    flex-wrap:wrap;

    width:100%;

    background-color:var(--cor-secundaria);

    font-family:"be-vietnam", Arial, sans-serif;
    font-size:1.125em; /*18px*/
}
.footer-made p{ /*Configuração do paragrafo dos "creditos"*/
    color: white;

    padding:7px;
}