/*

    Mural de lembretes:
    ° Fazer o modelo de noticias na pagina principal
    ° Fazer a responsividade do modelo de noticias
    ° Fazer o modelo das moedas na pagina principal


*/


/*Configuração da parte das noticias
/*Configuração das noticias*/
.noticias-conteiner{ /*Background das noticias*/
    display:flex;

    justify-content:center;
    flex-wrap:wrap;
}
.noticia{ /*Conteiner de cada noticia*/
    display:flex;

    flex-wrap:wrap;
    align-items:center;

    margin:30px 0px 25px 20px;
}
.noticia-img{ /*Configurando o tamanho da imagem da noticia*/
    width:270px;
    height:210px;

    transition: all 0.3s;
}
.noticia-img:hover{ /*Configurando o quanto a imagem vai crescer quando se passa o mouse por cima*/
    transform:scale(1.03);
}
.noticia-tema-titulo-descrição{ /*Configurando o espaçamento do conteiner das informações da noticia*/
    padding:0px 10px 14px 10px;
}
.tema-noticia{ /*Configurando o tema da noticia*/
    font-family:"be-vietnam";

    color:#3c3439;

    padding-bottom:20px;
}
.noticia-titulo-descrição-link{ /*Configurando o visual dos links do titulo e descriçaõ*/
    color:black;

    text-decoration: none;
}
.titulo-noticia{ /*Configurando o titulo da noticia*/
    font-family:Arkhip;
    font-size:1.7em;

    color:#201a1e;

    padding-bottom:20px;

    max-width:360px;
}
.descrição-noticia{ /*Configurando a descrição das noticias*/
    font-family:"be-vietnam";

    color: #3c3439;

    max-width:360px;
}
.linha-horizontal-grupo{ /*Configurando as linhas horizontais que aparecerão em "grupo"*/
    width: 95%;

    margin:0 auto;

}
.linha-horizontal-individual{ /*Configurando as linhas horizontais que aparecerão "individualmente"*/
    display:none;

    width:95%;

    margin:0 auto;
}




/*Configuração das moedas*/



/*Configuração da pagina de temas*/
.pag-temas{ /*Configurando o background*/
    display:flex;
    justify-content:space-evenly;
    flex-wrap:wrap;

    width: 100%;

    background-color: var(--cor-principal);

    margin:50px 0px;
}
.tema-img{ /*Configuração das imagens dos temas*/
    width:400px;

    padding:25px 20px;

    transition:all 0.3s;
}
.tema-img:hover{ /*Configurando quanto a imagem vai aumentar quando o mouse passar por cima*/
    transform:scale(1.05);
}

/*Configurando a responsividade da pagina de temas*/
@media screen and (min-width:1500px){ /*Responsividade da pagina de temas, antes de chegar no tamanho de 1500px*/
    .tema-img{  /*Configurando o tamanho das imagens de tema*/
        width:450px;
    }
}
@media screen and (max-width:1250px){ /*Responsividade da pagina de temas, quando chegar no tamanho de 1250px*/
    .tema-img{  /*Configurando o tamanho das imagens de tema, e o espaçamento*/
        width:370px;

        padding:20px 15px;
    }
}
@media screen and (max-width:1200px){ /*Responsividade da pagina de temas, quando chegar no tamanho de 1200px*/
    .pag-temas{ /*Centralizando as imagens de tema*/
        justify-content:center; 
    }
    .tema-img{  /*Configurando o tamanho das imagens de tema, e o espaçamento*/
        width:450px;

        padding: 25px 30px;
    }
}
@media screen and (max-width:899px){ /*Responsividade da pagina de temas, quando chegar no tamanho de 899px*/
    .tema-img{  /*Configurando o tamanho das imagens de tema, e o espaçamento*/
        width:400px;

        padding:25px 20px;
    }
}
@media screen and (max-width:799px){ /*Responsividade da pagina de temas, quando chegar no tamanho de 799px*/
    .pag-temas{ /*Configurando o espaçamento inferior do conteiner das paginas de tema*/
        padding-bottom:15px;
    }
    .tema-img{  /*Configurando o tamanho das imagens de tema, e o espaçamento*/
        width:450px;

        padding: 25px 20px 10px 20px;
    }
}
@media screen and (max-width:460px){ /*Responsividade da pagina de temas, quando chegar no tamanho de 460px*/
    .tema-img{ /*Configurando o tamanho das imagens de tema*/
        width:400px;
    }
}
@media screen and (max-width:390px){ /*Responsividade da pagina de temas, quando chegar no tamanho de 390px*/
    .tema-img{ /*Configurando o tamanho das imagens de tema*/
        width:350px;
    }
}
@media screen and (max-width:340px){ /*Responsividade da pagina de temas, quando chegar no tamanho de 340px*/
    .tema-img{ /*Configurando o tamanho das imagens de tema*/
        width:300px;
    }
}
@media screen and (max-width:275px){ /*Responsividade da pagina de temas, quando chegar no tamanho de 275px*/
    .tema-img{ /*Configurando o tamanho das imagens de tema*/
        width:250px;
    }
}