/*

    Mural de lembretes:
    ° Responsividade do titulo, descrição e autor


*/


/*Configuração da pagina de noticias*/
/*Configurando o titulo da noticia*/
.titulo-noticia-bg{ /*Configurando o background do titulo*/
    display:flex;

    justify-content:Center;
    align-items: flex-end;

    min-height:430px;
    width:100%;
    
    margin:40px 0px;

    background-image:url(../imagens/Pagina-Noticia/Place_Holder_banner.png);
    background-size:cover;
    background-repeat:no-repeat;
}
.titulo-noticia{ /*Configurando o titulo da noticia*/
    padding:65px 35px 60px 35px;

    font-size:3.5em;
    font-family:Arkhip;

    color:#ffeefa;
}

/*Configurando a responsividade do titulo da noticia*/
@media screen and (max-width:850px){ /*Configurando a responsividade do titulo da noticia, quando a tela atinge o tamanho de 850px*/
    .titulo-noticia{ /*Configurando o titulo da noticia*/
        font-size:3em;
    }
}
@media screen and (max-width:550px){ /*Configurando a responsividade do titulo da noticia, quando a tela atinge o tamanho de 550px*/
    .titulo-noticia{ /*Configurando o titulo da noticia*/
        font-size:2.5em;

        padding: 65px 20px 60px 20px;
    }
}
@media screen and (max-width:425px){ /*Configurando a responsividade do titulo da noticia, quando a tela atinge o tamanho de 400px*/
    .titulo-noticia{ /*Configurando o titulo da noticia*/
        font-size:2em;
    }
}
@media screen and (max-width:320px){ /*Configurando a responsividade do titulo da noticia, quando a tela atinge o tamanho de 320px*/
    .titulo-noticia{ /*Configurando o titulo da noticia*/
        font-size:1.7em;
    }
}
@media screen and (max-width:250px){ /*Configurando a responsividade do titulo da noticia, quando a tela atinge o tamanho de 250px*/
    .titulo-noticia{ /*Configurando o titulo da noticia*/
        font-size:1.5em;
    }
}

/*Configurando o tema da noticia*/
.tema-noticia{ /*Configurando o tema*/
    align-self:flex-start;

    font-family:'be-vietnam';

    color:#483f45;

    padding-bottom:15px;
}

/*Configurando a descrição da noticia*/
.descrição-noticia-bg{ /*Configurando o background da descrição*/
    display:flex;

    flex-direction:column;

    justify-content: center;
    align-items:center;

    margin: 10px 70px 60px 70px;
}
.descrição-noticia{ /*Configurando a descrição da noticia*/
    text-align:justify;

    font-family:'be-vietnam';
    font-size:1.3em;

    line-height: 1.5em;

    color: #483f45;
}

/*Informações do autor*/
.informações-autor-noticia{ /*Configuração do background das informações do autor*/
    display:flex;

    flex-wrap:wrap;

    justify-content:space-between;
    align-items: center;

    margin: 0px 70px 10px 70px;
}
.infor-autor{ /*Configuração das informações do autor*/
    display:flex;

    align-items: center;

    padding-right:30px;
}
.autor{ /*Configuração da imagem do autor*/
    width:75px;
}
.informações{ /*Configuração da informação*/
    font-family:'be-vietnam';

    color:#483f45;

    padding-left:13px;
}
.texto-autor{ /*Configuração do nome do autor*/
    font-size:1.1em;

    padding-bottom:5px;
}
.hora-autor{ /*Configuração da hora das noticia*/
    font-size:0.9em;
}
.redes{ /*Configuração do background das redes sociais*/
    display:flex;

    align-items:center;

    padding-left:10px;
}
.redes li{ /*Definindo o espaçamento dos itens de rede social*/
    padding: 0px 13px;
}
.rede-social-img{ /*Configurando o tamanho das imagens de rede sociais*/
    width:40px;

    transition:all 0.2s;

}
.rede-social-img:hover{ /*Configuração de quando se passa o mouse por cima da imagem das redes*/
    transform:scale(1.10) ;
}

/*Configurando a linha horizontal*/
.linha-horizontal{ /*Configurando a linha*/
    width:90%;

    margin:40px auto;
}