/*

    Mural de lembretes:


*/





/*Configurando o main*/
main{ /*Configurando o main*/
    margin-bottom:70px;
}





/*Configuração da pagina de noticias*/
/*Configurando o titulo da noticia*/
.titulo-noticia-bg{ /*Configurando o background do titulo*/
    display:flex;

    justify-content:Center;
    align-items: flex-end;

    min-height:430px;
    width:100%;
    
    background-size:cover;
    background-repeat:no-repeat;
}
.titulo-noticia-materia{ /*Configurando o titulo da noticia*/
    padding:65px 35px 60px 35px;

    font-size:3.5em;
    font-family:Arkhip;

    color:#ffeefa;
}

/*Configurando a responsividade do titulo da noticia*/
@media screen and (max-width:850px){ /*Configurando a responsividade do titulo da noticia, quando a tela atinge o tamanho de 850px*/
    .titulo-noticia-materia{ /*Configurando o titulo da noticia*/
        font-size:3em;
    }
}
@media screen and (max-width:550px){ /*Configurando a responsividade do titulo da noticia, quando a tela atinge o tamanho de 550px*/
    .titulo-noticia-materia{ /*Configurando o titulo da noticia*/
        font-size:2.5em;

        padding: 65px 20px 60px 20px;
    }
}
@media screen and (max-width:425px){ /*Configurando a responsividade do titulo da noticia, quando a tela atinge o tamanho de 400px*/
    .titulo-noticia-materia{ /*Configurando o titulo da noticia*/
        font-size:2.2em;
    }
}
@media screen and (max-width:375px){ /*Configurando a responsividade do titulo da noticia, quando a tela atinge o tamanho de 375px*/
    .titulo-noticia-materia{ /*Configurando o titulo da noticia*/
        font-size:2em;
    }
}
@media screen and (max-width:320px){ /*Configurando a responsividade do titulo da noticia, quando a tela atinge o tamanho de 320px*/
    .titulo-noticia-materia{ /*Configurando o titulo da noticia*/
        font-size:1.8em;
    }
}
@media screen and (max-width:250px){ /*Configurando a responsividade do titulo da noticia, quando a tela atinge o tamanho de 250px*/
    .titulo-noticia-materia{ /*Configurando o titulo da noticia*/
        font-size:1.5em;
    }
}


/*Configurando a descrição da noticia*/
/*Configurando o tema da noticia*/
.tema-noticia-materia{ /*Configurando o tema*/
    align-self:flex-start;

    font-family:'be-vietnam';

    color:#483f45;

    margin-top:40px;

    padding-bottom:15px;
}
/*Configurando a descrição*/
.descrição-noticia-bg{ /*Configurando o background da descrição*/
    display:flex;

    flex-direction:column;

    justify-content: center;
    align-items:center;

    margin: 10px 70px 60px 70px;
}
.descrição-noticia-materia{ /*Configurando a descrição da noticia*/
    text-align:justify;

    font-family:'be-vietnam';
    font-size:1.3em;

    line-height: 1.5em;

    color: #483f45;
}

/*Configurando a responsividade da descrição da noticia*/
@media screen and (max-width:899px){ /*Configurando a descrição, quando a tela chega no tamanho de 899px*/
    .descrição-noticia-bg{
        margin: 10px 50px 60px 50px;
    }
}
@media screen and (max-width:700px){ /*Configurando a descrição, quando a tela chega no tamanho de 700px*/
    .descrição-noticia-bg{
        margin: 10px 40px 50px 40px;
    }
}
@media screen and (max-width:400px){ /*Configurando a descrição, quando a tela chega no tamanho de 400px*/
    .descrição-noticia-bg{
        margin: 10px 35px 50px 35px;
    }
    .descrição-noticia-materia{ /*Configurando a descrição da noticia*/
        font-size:1.2em;
    
        line-height: 1.4em;
    
    }
}
@media screen and (max-width:230px){ /*Configurando a descrição, quando a tela chega no tamanho de 230px*/
    .descrição-noticia-bg{
        margin: 10px 30px 50px 30px;
    }
}

/*Informações do autor*/
.informações-autor-noticia{ /*Configuração do background das informações do autor*/
    display:flex;

    flex-wrap:wrap;

    justify-content:space-between;
    align-items: center;

    margin: 0px 70px 20px 70px;
}
.infor-autor{ /*Configuração das informações do autor*/
    display:flex;

    align-items: center;

    padding-right:30px;
}
.autor{ /*Configuração da imagem do autor*/
    width:100px;
}
.informações{ /*Configuração da informação*/
    font-family:'be-vietnam';

    color:#483f45;

    padding-left:13px;
}
.nome-autor{ /*Configuração do nome do autor*/
    font-size:1.1em;

    padding-bottom:5px;

    line-height:1.3em;
}
.hora-autor{ /*Configuração da hora das noticia*/
    font-size:0.9em;
}
.redes{ /*Configuração do background das redes sociais*/
    display:flex;

    align-items:center;

    padding-left:10px;
}
.redes li{ /*Definindo o espaçamento dos itens de rede social*/
    padding: 0px 13px;
}
.rede-social-img{ /*Configurando o tamanho das imagens de rede sociais*/
    width:40px;

    transition:all 0.2s;

}
.rede-social-img:hover{ /*Configuração de quando se passa o mouse por cima da imagem das redes*/
    transform:scale(1.10) ;
}

/*Configuração da responsividade das informações do autor da noticia*/
@media screen and (max-width: 724px){ /*Configurando a responsividade, quando a tela chega no tamanho de 682px*/
    .informações-autor-noticia{ /*Configurando o conteiner das informações do autor*/
        flex-direction:column;

        margin: 0px 55px 10px 55px;
    }
    .infor-autor{ /*Retirando o espaçamento do 2° conteiner de  informações do autor*/
        padding-right:0px;
    }
    .redes{ /*Definindo o espaçamento e margem das imagens de rede social*/
        margin-top:15px;

        padding-left:0px;   
    }
}
@media screen and (max-width:506px){ /*Configurando a responsividade, quando a tela chega no tamanho de 480px*/
    .informações-autor-noticia{ /*Configurando o espaçamento do conteiner das informações do autor*/
        margin: 0px 45px 10px 45px;
    }
    .infor-autor{ /*Definindo a direção do 2° conteiner de informações do autor*/
        flex-direction:column;
    }
    .informações{ /*Configurando conteiner de texto das informações*/
        padding-left:0px;

        text-align:center;
    }
    .autor{ /*Configurnado a margim da imagem do autor*/
        margin-bottom:20px;
    }
    .nome-autor{ /*Configurando o espaçamento do nome do autor*/
        padding-bottom:7px;
    }
    .redes{ /*Configurando a margim das imagens de redes sociais*/
        margin-top:20px;
    }
}
@media screen and (max-width:300px){ /*Configurando a responsividade, quando a tela chega no tamanho de 300px*/
    .informações-autor-noticia{ /*Configurando o espaçamento do conteiner das informações do autor*/
        margin: 0px 40px 10px 40px;
    }
}
@media screen and (max-width:250px){ /*Configurando a responsividade, quando a tela chega no tamanho de 250px*/
    .informações-autor-noticia{ /*Configurando o espaçamento do conteiner das informações do autor*/
        margin: 0px 35px 10px 35px;
    }
} 






/*Configurando a noticia (materia)*/
.noticia-bg{ /*Configurando o background da noticia (materia)*/
    display: flex;

    flex-direction:column;

    justify-content:center;
    align-items: center;

    font-family: CrimsonText;
    font-size:1.35em;

    line-height:125%;

    color:#2d171e;

    margin: 10px 200px 60px 200px;
}
.noticia-bg a, .noticia-bg a:active, .noticia-bg a:link, .noticia-bg a:hover{ /*Configurando o estilo dos links da noticia (materia)*/
    font-family: CrimsomText_italic;

    color:#63384f;
}
.noticia-part{ /*Configurando o espaçamento da primeira parte da noticia*/
    padding-top:40px;
    padding-bottom:20px;
}
.titulo-part-noticia{
    font-size: 3em;

    line-height:50px;

    padding-top:20px;
    padding-bottom:40px;
}
.subtitulo-part-noticia{
    font-size:2.5em;

    line-height:50px;

    padding-bottom:35px;
}
.imagem-noticia{ /*Configurando a imagem da noticia*/
    width:800px;
    height:500px;

    margin: 60px 0px 40px 0px;

    transition: all ease-in-out 0.5s;
}
.video-noticia{
    width:800px;
    height:500px;

    margin: 60px 0px 40px 0px;
}
.imagem-noticia:hover{ /*Configurando o que acontece quando se passa o mouse por cima da imagem*/
    transform:scale(1.04);
}
/*Configurando a responsividade da materia*/
@media screen and (max-width:1150px){ /*Configurando a responsivida da materia (noticia), quando chega no tamanho de 1150px*/
    .noticia-bg{ /*Configurando o espaçamento da materia (noticia)*/
        margin: 10px 180px 60px 180px;
    }
    .imagem-noticia, .video-noticia{ /*Configurando tamanho da imagem da materia (noticia)*/
        width:700px;
        height:450px;   
    }
}
@media screen and (max-width:1000px){ /*Configurando a responsivida da materia (noticia), quando chega no tamanho de 1000px*/
    .noticia-bg{ /*Configurando o espaçamento da materia (noticia)*/
        margin: 10px 160px 60px 160px;
    }
    .imagem-noticia, .video-noticia{ /*Configurando tamanho da imagem da materia (noticia)*/
        width:620px;
        height:380px;   
    }
}
@media screen and (max-width:850px){ /*Configurando a responsivida da materia (noticia), quando chega no tamanho de 850px*/
    .noticia-bg{ /*Configurando o espaçamento da materia (noticia)*/
        margin: 10px 130px 60px 130px;
    }
    .imagem-noticia, .video-noticia{ /*Configurando tamanho da imagem da materia (noticia)*/
        width:550px;
        height:350px;   
    }
}
@media screen and (max-width:770px){ /*Configurando a responsivida da materia (noticia), quando chega no tamanho de 760px*/
    .noticia-bg{ /*Configurando o espaçamento da materia (noticia)*/
        margin: 10px 90px 60px 90px;
    }
    .imagem-noticia, .video-noticia{ /*Configurando tamanho da imagem da materia (noticia)*/
        width:520px;
        height:350px;   
    }
}
@media screen and (max-width:570px){ /*Configurando a responsivida da materia (noticia), quando chega no tamanho de 570px*/
    .noticia-bg{ /*Configurando o espaçamento da materia (noticia)*/
        margin: 10px 65px 60px 65px;
    }
    .imagem-noticia, .video-noticia{ /*Configurando tamanho da imagem da materia (noticia)*/
        width:400px;
        height:280px;   

        margin: 50px 0px;
    }
}
@media screen and (max-width:490px){ /*Configurando a responsivida da materia (noticia), quando chega no tamanho de 490px*/
    .noticia-bg{ /*Configurando o espaçamento da materia (noticia) e o tamanho da fonte*/
        font-size:1.28em;

        margin: 10px 50px 60px 50px;
    }
    .imagem-noticia, .video-noticia{ /*Configurando tamanho da imagem da materia (noticia)*/
        width:360px;
        height:250px;   
    }
    .titulo-part-noticia{
        font-size:2.5em;
    }
    .subtitulo-part-noticia{
        font-size:2em;
    }
}
@media screen and (max-width:390px){ /*Configurando a responsivida da materia (noticia, quando chega no tamanho de 390px*/
    .noticia-bg{ /*Configurando o espaçamento da materia (noticia)*/
        margin: 5px 35px 60px 35px;
    }
    .imagem-noticia, .video-noticia{ /*Configurando tamanho da imagem da materia (noticia)*/
        width:320px;
        height:230px;   
    }
    .titulo-part-noticia{
        font-size:2.2em;
    }
    .subtitulo-part-noticia{
        font-size: 1.8em;
    }
}
@media screen and (max-width:340px){ /*Configurando a responsivida da materia (noticia, quando chega no tamanho de 300px*/
    .noticia-bg{ /*Configurando o espaçamento da materia (noticia) e o tamanho da fonte*/
        font-size:1.23em;

        margin: 3px 20px 60px 20px;
    }
    .imagem-noticia, .video-noticia{ /*Configurando tamanho da imagem da materia (noticia)*/
        width:290px;
        height:200px;   
    }
    
}


/*Configurando o veja-também*/
.veja-também-conteiner{ /*Configurando o background do vejá também*/
    margin:70px 0px;
}
.veja-também{ /*Configurando o veja também*/
    font-family:'be-vietnam';
    font-size:2.5em;

    margin-left:55px;
    margin-bottom:30px;
}
/*Configurando a responsividade do veja também*/
@media screen and (max-width:450px){
    .veja-também{
        font-size:2.3em;

        margin-left:30px;
    }
}
@media screen and (max-width:300px){
    .veja-também{
        font-size:2.2em;

        margin-left:25px;
    }
}





/*Configurando a linha horizontal*/
.linha-horizontal{ /*Configurando a linha*/
    width:90%;

    margin:40px auto;
}