/*

    Mural de lembretes:
    ° Responsividade do titulo, descrição e autor


*/


/*Configuração da pagina de noticias*/
/*Configurando o titulo da noticia*/
.titulo-noticia-bg{
    display:flex;

    justify-content:Center;
    align-items: flex-end;

    min-height:430px;
    width:100%;
    
    margin:40px 0px;

    background-image:url(../imagens/Pagina-Noticia/Place_Holder_banner.png);
    background-size:cover;
    background-repeat:no-repeat;
}
.titulo-noticia{
    padding:65px 35px 60px 35px;

    font-size:3.5em;
    font-family:Arkhip;

    text-align:justify;

    color:#ffeefa;
}

/*Configurando a descrição da noticia*/
.descrição-noticia-bg{
    display:flex;

    flex-direction:column;

    justify-content: center;
    align-items:center;

    margin: 10px 70px 60px 70px;
}
.descrição-noticia{
    text-align:justify;

    font-family:'be-vietnam';
    font-size:1.3em;

    line-height: 1.5em;

    color: #483f45;
}
.tema-noticia{
    align-self:flex-start;

    font-family:'be-vietnam';

    color:#483f45;

    padding-bottom:10px;
}

/*Informações do autor*/
.informações-autor-noticia{
    display:flex;

    flex-wrap:wrap;

    justify-content:space-between;
    align-items: center;

    margin: 0px 70px 10px 70px;
}
.infor-autor{
    display:flex;

    align-items: center;

    padding-right:30px;
}
.autor{
    width:80px;
}
.informações{
    font-family:'be-vietnam';

    color:#483f45;

    padding-left:13px;
}
.texto-autor{
    font-size:1.1em;

    padding-bottom:5px;
}
.hora-autor{
    font-size:0.9em;
}
.redes{
    display:flex;

    align-items:center;

    padding-left:10px;
}
.redes li{
    padding: 0px 13px;
}
.rede-social-img{
    width:40px;

    transition:all 0.2s;

}
.rede-social-img:hover{
    transform:scale(1.10) ;
}
.linha-horizontal{
    width:90%;

    margin:40px auto;
}