@charset "UTF-8";

/*Fontes*/
@font-face{ /*Fonte Arkhip*/
    font-family: Arkhip;
	src:url(../fontes/coolvetica/coolvetica\ rg.ttf) format('truetype');
    /*src:url(../fontes/Arkhip/Arkhip-Regular.otf) format('opentype'), url(../fontes/Arkhip/Arkhip-Regular.ttf) format('truetype');*/
}
@font-face{ /*Fonte be-vietnam*/
    font-family: "be-vietnam";
    src:url(../fontes/be-vietnam/BeVietnam-Regular.ttf) format('truetype');
}
@font-face{ /*Fonte Crimson Text*/
	font-family: CrimsonText;
	src: url(../fontes/crimsom-text/CrimsonText-Regular.ttf) format('truetype');
}
@font-face{ /*Fonte Crimson Text Italic*/
	font-family: CrimsonText_italic;
	src: url(../fontes/crimsom-text/CrimsonText-Italic.ttf) format('truetype');
}



/*Variaveis*/
:root{
    --cor-principal: #201a1e;
    --cor-secundaria: #151015;
	--cor-link: #44245c;
}

/*Configurações globais*/
*{
    box-sizing:border-box;
}

/*Retirando a barra lateral na responsividade*/
html,body{
    overflow-x:hidden;
}



/*CSS Reset*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}