/*

    Mural de lembretes:
    ° Fazer o modelo de noticias na pagina principal
    ° Fazer o modelo das moedas na pagina principal
    ° Fazer o modelo de pagina de temas na pagina principal
    ° Fazer a responsividade do modelo de pagina de temas na pagina princiapl


*/


/*Configuração das noticias*/






/*Configuração da pagina de temas*/
.pag-temas{ /*Configurando o background*/
    display:flex;
    justify-content:space-evenly; /*Duvida entre center e space-evenly*/
    flex-wrap:wrap;

    width: 100%;

    background-color: var(--cor-principal);

    margin:50px 0px;
}
.tema-img{ /*Configuração das imagens dos temas*/
    width:400px;

    padding:25px 20px;

    transition:all 0.3s;
}
.tema-img:hover{ /*Configurando quanto a imagem vai aumentar quando o mouse passar por cima*/
    transform:scale(1.05);
}