/*

    Mural de lembretes:


*/



/*Configurando o individual da notica*/
.titulo-noticia-bg{ /*Configurando a imagem de fundo da noticia*/
    background-image: url(../../../imagens/Noticias/pedro-lucas/Saida-Lg/Banner_Manchete.png);
}


/*Configurando a lista de celulares*/
.celular-list{ /*Configurando a lista*/
    list-style:disc;

    padding-left:30px;
}
.celular-list li{ /*Configurando o itens*/
    margin: 7px 0px 7px 0px;
}