/*

    Mural de lembretes:


*/



/*Configurando o individual do tema*/
/*Configurando o padrão dos temas*/
.nome-tema-bg{ /*Configurando a imagem de fundo do tema*/
    background-image:url(../../imagens/pagina-temas/tema-game-tech/Banner_Game_Tech.png);
}

/*Configurando os proximos lançamentos*/
.proximos-lançamentos-bg{ /*Configurando a imagem de fundo dos proximos lançamentos*/
    background-image:url(../../imagens/pagina-temas/tema-game-tech/Lançamentos/Lançamento_games.png);
}
