/*

    Mural de lembretes:
    ° Configurar a responsvidade
    ° Colocar borda na imagem


*/




/*Configurando o padrão dos temas*/
.nome-tema-bg{ /*Configurando a imagem de fundo do tema*/
    background-image:url(../../imagens/pagina-temas/tema-game-tech/Banner_Game_Tech.png);
}




/*Configurando o individual do tema*/
/*Configurando os proximos lançamentos*/
.proximos-lançamentos{ /*Configurando o fundo dos proximos lançamentos*/
    width: 100%;

    background-image:url(../../imagens/pagina-temas/tema-game-tech/Lançamentos/Lançamento_games.png);
    background-size:cover;
    background-repeat:no-repeat;

    margin:60px 0px 70px 0px;
}
.lançamentos-list{ /*Configurando a lista de lançamentso*/
    display:flex;
    
    flex-wrap:wrap;
    justify-content: space-around;
    align-items: center;
}
.lançamentos{ /*Configurando cada lançamento individual*/
    display:flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin:50px 0px;
}
.img-lançamentos{ /*Configurando a imagem de lançamento*/
    width:270px;
}
.nome-data-lançamento{ /*Configurando o conteiener com o nome e data de lançamento*/
    margin: 15px 0px;
}
.nome-lançamento{ /*Configurando o nome do lançamento*/
    font-family:'be-vietnam';
    font-size: 1.5em;

    color:#f7e7f3;

    text-align: center;
}
.data-lançamento{ /*Configurando a data do lançamento*/
    font-family:Arkhip;
    font-size: 2.1em;

    color:#c19dbe;

    text-align: center;

    padding-top: 10px;
}