/*

    Mural de lembretes:


*/




/*Configruando o padrão de temas*/
/*Configurando o nome dos temas*/
.nome-tema-bg{ /*Configurando o fundo do nome do tema (Imagem adicionada em cada estilo de tema individual)*/
    display:flex;

    justify-content:flex-start;
    align-items: flex-end;

    min-height:370px;
    width:100%;

    background-size:cover;
    background-repeat:no-repeat;

    margin-bottom: 25px;
}
.nome-tema{ /*Configurando o nome do tema*/
    padding:40px 35px 65px 60px;

    font-family:Arkhip;
    font-size: 5em;

    line-height:1.2em;

    color:#f7e7f3;
}

/*Configurando a responsividade para o nome do tema*/
@media screen and (max-width:950px){ /*Configurando a responsividade, quando chegar no tamanho de 950px*/
    .nome-tema{ /*Configurando o espaçamento do nome do tema*/
        padding:40px 35px 50px 45px;
    }
}
@media screen and (max-width:750px){ /*Configurando a responsividade, quando chegar no tamanho de 9750px*/
    .nome-tema{ /*Configurando o tamanho do nome do tema*/
        font-size:4em;
    }
}
@media screen and (max-width:600px){ /*Configurando a responsividade, quando chegar no tamanho de 600px*/
    .nome-tema{ /*Configurando o espaçamento do nome do tema*/
        padding:40px 35px 40px 40px;
    }
}
@media screen and (max-width:448px){ /*Configurando a responsividade, quando chegar no tamanho de 400px*/
    .nome-tema{ /*Configurando o espaçamento do nome do tema*/
        padding:40px 35px 30px 30px;
        font-size:3.5em;
    }
}
@media screen and (max-width:350px){ /*Configurando a responsividade, quando chegar no tamanho de 350px*/
    .nome-tema{ /*Configurando o tamanho do nome do tema*/
        padding:40px 35px 30px 20px;
        font-size:3em;
    }
}
@media screen and (max-width:300px){ /*Configurando a responsividade, quando chegar no tamanho de 300px*/
    .nome-tema{ /*Configurando o tamanho do nome do tema*/
        font-size:2.5em;
    }
}