/*

    Mural de lembretes:


*/




/*Configruando o padrão de temas*/
/*Configurando o nome dos temas*/
.nome-tema-bg{ /*Configurando o fundo do nome do tema (Imagem adicionada em cada estilo de tema individual)*/
    display:flex;

    justify-content:flex-start;
    align-items: flex-end;

    min-height:370px;
    width:100%;

    background-size:cover;
    background-repeat:no-repeat;

    margin-bottom: 25px;
}
.nome-tema{ /*Configurando o nome do tema*/
    padding:40px 35px 65px 60px;

    font-family:Arkhip;
    font-size: 5em;

    line-height:1.2em;

    color:#f7e7f3;
}